.generic-card {
  border: 5px dotted gray;
  width: 25rem;
  height: 13rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  transition-duration: 0.5s;
  p {
    font-size: 18px;
  }
  &:hover {
    transform: scale(1.1);
  }
}
